$text: #333;
$bg: #f7f8fc;
$accent-prime: #8457A0;
$chat-bg-light: #F3F0F5;
$chat-bg-dark: #1A161D;
$incoming-bubble-light: #E9E9EB;
$incoming-bubble-dark: #2C2631;
$secondary: #14b8a6;
$border: #dbeafe;
$radius: 12px;